# =========================
# Django
# =========================
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/

# =========================
# Virtual Environment
# =========================
projectvenv/
env/
ENV/

# =========================
# Environment Variables
# =========================
.env
.env.*

# =========================
# Static files
# =========================
staticfiles/

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/
*.swp

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Python
# =========================
.pytest_cache/
.mypy_cache/
